@keyframes blackwhite {
    0% {
        box-shadow: 0px 0px 5px 5px white;
    }
    33% {
        box-shadow: 0px 0px 5px 5px black;
    }
    66% {
        box-shadow: 0px 0px 5px 5px white;
    }
    100% {
        box-shadow: 0px 0px 5px 5px black;
    }
}
body {
    background-color: black;
    color: white;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
h1 {
    font-size: 56px;
    font-weight: 700;
    border-radius: 10px;
    animation: blackwhite 3s ease-in-out infinite alternate;
}
hr {
    margin: 10px;
    color: white;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
a {
    color: white;
}
a:hover {
    color: yellow;
}
.group-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 100px;
}
.card {
    width: 250px;
    box-shadow: 0px 0px 5px 5px white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 15px;
}
.card:hover {
    animation: blackwhite 3s ease-in-out infinite alternate;
}
.card > img {
    width: 250px;
    height: 250px;
    border: 1px solid white;
    border-radius: 10px;
}