header {
    width: 100%;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 1000;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
}
nav {
    display: flex;
    gap: 20px;
}
a {
    color: white;
}
main {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(63, 42, 4);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;
}
hr {
    width: 80%;
    border: 1px solid white;
    margin: 10px;
}
h1 {
    font-size: 56px;
    font-weight: 700;
}
.descricao {
    width: 750px;
    font-size: 18px;
    text-align: center;
}
button {
    background-color: rgb(5, 78, 5);
    color: white;
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 8px 20px;
}
.cardapio {
    width: 100%;
    height: auto;
    background-color: rgb(112, 67, 24);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
    gap: 30px;
}
.cardapio > h2 {
    font-size: 48px;
    font-weight: 700;
}
.sobre-secao {
    background-color: rgb(51, 27, 8);
    color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 15px;
    gap: 15px;
}
h2 {
    font-size: 36px;
    font-weight: 700;
}
.cards {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 10px;
}
.card-info {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 10px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 15px;
    gap: 15px;
}
.card-info > img {
    width: 200px;
    height: 200px;
}
h3 {
    font-size: 20px;
    font-weight: 700;
}
.card-info > p {
    width: 75%;
    font-size: 16px;
}
.preco {
    color: yellow;
    font-weight: 700;
}